.top-container{
    margin-top: 0;
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
}
.cl1{
    
    position: absolute;
    right:400px;
    top: 40px;
}
.cl2{
    position: absolute;
    left:450px;
    bottom: 300px;
}

h1{
    font-family: 'Sacramento';
    margin: 0 auto 0 auto;
    font-size: 5.625rem;
    color: #66bfbf;   
}
h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
    font-weight:bold;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}
h1:hover{
    background-color: palegreen;
}
body{
    margin: 0;
    text-align: center;
    color: #40514e;
    font-family: 'Merriweather', serif;
}
.sp{
    text-decoration: underline;
}
.footer-link{
    color: #11999e;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.sk1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.sk2{
    width: 25%;
    float:right;
    margin-left: 30px;
}
hr{
    width: 3%;
    border-style: dotted none none none;
    border-width: 5px;
    color: #eaf6f6;
    margin: 100px auto;
}
.pfimg{
    width: 20%;
}

.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.rightstag{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.middle-container{
    margin: 100px auto 100px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  
  
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
p{
    
    line-height: 2;

}
.msg{
    width: 25%;
    margin: 40px auto 40px;
}
a{
    text-decoration: none;
    font-family: 'Montserrat';
    margin: 10px 20px;
    color: #11999e;
}
a:hover{
    color: #eaf6f6;
}